@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;800&display=swap');

:root {
    --bg-color: #141414;
    --bg-accent: #da4c00;
    --bg-secondary: #FF6B1A;
    --bg-secondary-accent: #00B3AD;
    --clr-server: #00B3AD;
    --clr-client: #F27405FF;
    --txt-white: rgba(255, 255, 255, .7);
    --txt-subtitle: rgba(255, 255, 255, .5);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--bg-color);
}

main {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}

header {
    width: 100%;
    display: flex;
    background-color: var(--bg-accent);
    height: 3em;
}

.headertitle {
    height: 100%;
    width: 100%;
    text-align: center;
    align-self: center;
    font-family: 'Source Code Pro', monospace;
    margin-left: .5em;
    margin-top: .5em;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

h2 {
    color: white;
    font-size: 1.5em;
}

small {
    color: white;
    font-size: .75em;
    opacity: .5;
    margin-left: 4px;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    color: var(--txt-white);
    height: 3em;
    margin-top: 2em;
    align-self: center;
}

.container {
    background-color: var(--bg-accent);
    display: flex;
    width: calc(100% - 2em);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 0 8px 4px 8px;
}

.entry {
    font-family: 'Source Code Pro', monospace;
    min-height: 3em;
    height: auto;
    background-color: var(--bg-color);
    width: 100%;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    align-items: flex-start;
    font-size: .75em;
    opacity: .8;

    display: grid;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    grid-template-columns: 3em 1fr 3em;
    grid-template-rows: 3em 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.entry:hover {
    opacity: 1;
}

.isopen {
    height: max-content!important;
    color: var(--txt-white);
}

.title {
    grid-area: 1 / 2 / 2 / 3;
    color: var(--txt-white);
    margin-left: 8px;
    overflow-x: hidden;
    height: 3em;
    overflow: hidden;
}

.transparent {
    color: rgba(255, 255, 255, 0)!important;
}

.sub {
    color: var(--txt-subtitle);
    grid-area: 2 / 1 / 3 / 4;
    overflow-y: hidden;
    margin-top: 8px;
    top: 3em;
}

.realmbase {
    grid-area: 1 / 1 / 2 / 2;
    border: none;
    height: 100%;
    align-self: center;
    border-radius: 8px;
}

.realmclient {
    background-color: var(--clr-client);
}

.realmserver {
    background-color: var(--clr-server);
}

.delete {
    background-color: var(--bg-accent);
    grid-area: 1 / 3 / 2 / 4;
    border-radius: 8px;
    cursor: pointer;
    height: 100%;
    border: none;
    align-self: center;
    color: white;
}

.delete:hover {
    background-color: var(--clr-client);
}